<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Library Database</title>
</head>
<body>
	<div align="center">
		<h1>Library Database</h1>
		<br />
		<table border="1" cellpadding="10">
			<tr th:each="library : ${library}">
			<thead>
				<tr>
					<th>Id</th>
					<th>Library Name</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="library : ${library}">
					<td id="sid" th:text="${library.getId()}"></td>
					<td id="sname" th:text="${library.getName()}"></td>
					<td><a th:href="${'/update/' + library.id}"><button>Update</button></a>
						&nbsp;&nbsp;&nbsp; 
						<a th:href="${'/details/' + library.id}"><button>Details</button></a>

					</td>
				</tr>
			</tbody>
		</table>
 <a href="/addLibrary"><button>Add Library</button></a> &nbsp;&nbsp;&nbsp;
 <a href="/delete"><button>Delete Library</button> </a> 
 
	</div>
</body>
</html>
